@charset "utf-8";
@import url('https://fonts.googleapis.com/css2?family=Benne&display=swap');

header {position: sticky; top:0; left:0; display: inline-block; height: 81px; text-align: center; min-width:100%; background-color: rgb(255, 255, 240);}

header .hello{position: absolute; top : 20px; width:300px; line-height: 20px;}

header .lnb {padding: 0 50px 0 50px;}
header .lnb ul{float : right;}
header .lnb li{display: inline-block;}
header .lnb li a{display: block; padding: 0 35px; font-size: 17px; color: #333; line-height: 81px;}
header .lnb a span{position: relative;}
header .lnb li a:hover span:after{content: ""; display: block; position: absolute; left: 0; bottom: -8px; width: 100%; height: 1px; background: #2d5b79;} 

.Main {height:600px; background-color :rgb(236, 235, 235); padding: 35px 50px 35px 50px;}
.Main .Myphoto{float:right; border: 1px solid #fff;}

.Main .explain{float:left; padding : 130px 0 0 0; width : 1000px; height: 420px; text-align :center; font-family: 'Benne', serif;}
.explain h3 {line-height: 90px; font-size:60px; font-weight: 400; color:rgb(136, 136, 8);}
.explain span {font-weight:900; color:#000;}
.explain h2{line-height: 100px; font-size:70px; font-weight:900; color:#000;}

.bottom {background-color: white; width: 100%; height: 50px;}