@charset "utf-8";
@import url('https://fonts.googleapis.com/css2?family=Benne&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Jua&family=Roboto+Mono&display=swap');

header {position: sticky; top:0; left:0; z-index : 100; display: inline-block; height: 81px; text-align: center; min-width:100%; background-color: rgb(255, 255, 240);}

header .hello{position: absolute; top : 20px; width:300px; height: 50px; line-height: 20px;}

header .lnb {padding: 0 50px 0 50px; weight: 100%; height: 80px;}
header .lnb ul{float : right;}
header .lnb li{display: inline-block;}
header .lnb li a{display: block; padding: 0 35px; font-size: 17px; color: #333; line-height: 81px;}
header .lnb a span{position: relative;}
header .lnb li a:hover span:after{content: ""; display: block; position: absolute; left: 0; bottom: -8px; width: 100%; height: 1px; background: #2d5b79;} 

.history {position: relative; padding : 50px 100px 50px 100px; height : 900px;}
.history .obj{padding :30px 0 0 0; width:400px; height: 180px; background : url(p4.png) no-repeat; text-align: center;}
.history .obj h2{font-family: 'Benne', serif; font-size: 50px; color : #000;}
.history .obj h4{position:absolute; top : 60px; right:300px; width:600px; height : 80px; color:black; font-family: 'Jua', sans-serif; font-size: 30px; }
.history ul{position : absolute; top : 200px; left: 400px;}
.history li {margin: 0 0 10px 0; padding :30px 30px; width : 900px; height: 200px; background: rgb(247, 247, 243);}
.history li p{font-size: 20px; color : #000; font-family: 'Jua', sans-serif; text-align:  center;}
.history li .left_p {float :left; width : 300px; height : 100%; border-right: 1px solid rgb(213, 212, 212); }
.history li .right_p { float : left; width : 590px; height : 100%;}